
.problems-container{
    height: 100%;
    display: flex;
    text-align: center;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
    width: 100%;
    margin-left: 200px;
    transition: all .5s ease-in-out;
}
.problem-display{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.problem-header{
    font-size: 2em;
    font-weight: 600px;
    padding: 1em 0;
}

.slide{
    margin: 0;
}