@import url('./style/NavBar.css');
@import url('./style/SideMenu.css');



.problems-container{
    position: absolute;
    min-width: 85%;
    height: calc(100% - 34px);
    bottom: 0;
    right: 0;
    background-color: aqua;
}